

*{
    margin: 0px;
    scroll-behavior: smooth;

    
}


nav ul{
   padding: 30px;
    list-style-type: none;
    display:flex;
 justify-content: center;
 width: 600px;

 margin-left: 100px;
 
    
}
nav{

    display:flex;

  justify-content: center;
    background-color: aqua;
   height: 110px;
 
    z-index: 1;
   
}
.afterscroll{

scroll-behavior: smooth;
       
    position:sticky;
     
       
    
        top: 0px;
       
       

}

nav ul a{
    padding: 10px;
    text-decoration: none;
margin: 5px;
}
nav ul li{

    padding: 10px;
    border-radius: 4px;
}
nav ul a:last-child{
margin-top: -3px;
}
nav ul li:hover{
 border-bottom: white 5px solid;
    background-color: rgb(63, 189, 147);
}
nav ul img{
 height: 30px;
}
.search{
width: 300px;


margin-top: 50px;

}
#search1{
border: 0.7px solid black;
height: 23px;
border-radius: 3px;

}
#search1{
    animation: reverse;
    transition: 0.5s;
}
#search1:focus{
    outline: none;
   height: 26px;
    padding-right: 100px;
}
.greenlight{
    padding-bottom: 10px;
    background-color:rgba(56, 219, 138, 0.58);
}
.logo img{
    justify-self: flex-start;
    margin-top: 20px;
    border-radius: 20px;
}
/*footer*/

footer{
    
    margin: 50px 0px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(167, 159, 148);
}
footer ul{
 
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
footer  ul a{
   margin: 15px;
    color: white;
    text-decoration: none;
    padding: 5px;
}
footer  ul a:hover{
    background-color: cadetblue;
}
.copywrite a{
    text-decoration: none;
 
}
.copywrite{
    text-align: center;
padding: 10px;

}
/*   login page*/

.loginsection{
    display: flex;
    justify-content: center;
}
.todaybook img{
height: 300px;
}
.todaybook h1{
    text-align: center;
}
.todaybook{
 

    align-self: flex-start;
    background-color: aqua;
    margin: 100px 300px 10px 10px;
}
.inputform{
    background-color: orangered;
}
.inputform form{
  text-align: center;
   
    display: flex;
    flex-direction: column;
   margin-top: 80px;
}
.loginsection form h1{
margin-bottom: 20px;
}
.loginsection input[type=text]{
  margin:10px 20px 10px 20px;
    width: 200px;
 
    height: 25px;
border-radius: 3px;
  border:none;
  border-bottom: 2px solid black;
}


.loginsection input[type=text]:focus{
    outline:none;
  
    background-color: rgb(255, 255, 255);
}
.loginsection input[type=submit]{
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    align-self: center;
 
    background-color: rgb(255, 255, 255);
}
.loginhelp{
    float: right;
    color: white;
    margin-right: 20px;
    font-size: 20px;
}
.mediaway{
   
  
    margin-left: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
justify-content: center;
    margin-top:40px ;
}
.mediaway ul{
    margin-top: 10px;
    list-style-type: none;
      display: flex;
      justify-content: space-around;
      margin-right: 50px;
}

.mediaway ul li .fa-facebook{
    color: #4267B2;
}
.mediaway ul li .fa-twitter{
    color: #1DA1F2;
}
.mediaway ul li .fa-instagram{

        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        -webkit-background-clip: text;
           
                background-clip: text;
        -webkit-text-fill-color: transparent;
        
        font-size: 20px;
        
  
}

