@import 'variables';
* {
  margin: 0px;
}
nav {
  background-color: $hcolor;
  .topnav {
    display: flex;
    justify-content: flex-end;
    .email {
      justify-content: flex-start;
      background-color: $hcolor;

      margin: 10px 0px 10px 40px;
    }
    .follow {
      margin: 10px 70px 0px 0px;

      ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;

        li a {
          margin: 2px;
          text-decoration: none;
        }
      }

      /// this is follow list
    }
  }
  /// /// from here second nav
  .secondnav {
    background-color: white;
    .logo {
      img {
        float: left;
        height: 60px;
        margin-left: 30px;
        margin-top: 10px;
        border-radius: 10px;
      }
    }
    ul {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      li a {
        margin: 2px;
        text-decoration: none;
      }

      justify-content: center;
      li {
        margin-top: 20px;
        padding: 20px;
        &:hover {
          background-color: rosybrown;
        }
      }
    }
  }
}
.firstscreen {
  height: 80%;
  background-color: $scolor;
}
.topbody {
  .firstbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .namebox {
      margin-top: 90px;
      width: 600px;
      .title {
        ::after {
          content: 'A best place for readers';
          font-size: 15px;
          position: absolute;
          transform: translate(-100px, 90px);
        }
        h1 {
          font-size: 80px;
        }
      }
      .btn {
        .btn1 {
          &:hover {
            background-color: red;
          }
        }
        .btn2 {
          &:hover {
            background-color: green;
          }
        }
        button {
          background-color: $hcolor;
          outline: none;
          border-radius: 20px;
          border: 2px;
          padding: 6px 8px 6px 8px;
          margin: 20px 10px 0px 0px;
        }
      }
    }
    .logo-qu {
      margin: 50px 0px 0px 60px;
      .qu {
        margin-top: 30px;
      }
    }
  }
  .searchbox {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    form {
      margin-top: 60px;
      input {
        height: 40px;
        width: 500px;
        border-radius: 10px;
        border: 1px solid black;
        outline: none;
        &:hover {
          outline: none;
        }
      }
    }
  }
}
.secondscreen {
  height: 100%;
}
.recom-book-block {
  height: 30%;
  background-color: red;
}
.firsttry-book-block {
  height: 30%;
  background-color: red;
}
.infobox {
  margin-top: 60px;
  height: 151px;

  display: flex;
  justify-content: center;
  .infoone {
    border-radius: 20px 0px 0px 0px;
    background-color: $hcolor;
    h2 {
      margin-top: 30px;
      max-width: 150px;
    }
  }
  .infotwo {
    border-radius: 0px 20px 0px 0px;
    background-color: $hcolor;
    h2 {
      margin-top: 30px;
    }
  }
}
